<%= render "shared/flash"%>

<h1>Movies</h1>

<h2>movie name = movie</h2>

	<% if user_signed_in? %>
		<%=link_to "Book ticket",ticketbook_path,class:"btn btn-primary btn-lg",type:"button"%>
	<% else %>
		<%=link_to "Book ticket",login_path,class:"btn btn-primary btn-lg",type:"button"%>
	<% end %>
