<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Booking Confirmation</h1>
    <p>Hello <%= @user.username %>,</p>
    <p>Your booking for <%= @movie.title %> on <%= @booking.date %> has been confirmed.</p>
    <p>Thank you for choosing our movie booking system!</p>
  </body>
</html>
