
<h1>Your Cart</h1>
<table>
  <thead>
    <tr>
      <th>Movie</th>
      <th>Booking Date</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @user_bookings.each do |booking| %>
      <tr>
        <% if booking.movie %>
        <td><%= booking.movie.title %></td
        <% end %>
        <%# <td><#%= booking.created_at.strftime('%Y-%m-%d %H:%M:%S') %>
      </tr>
    <% end %>
  </tbody>
</table>
