<div class="btn-c">
    <button><%=link_to "Sign in",new_user_registration_path,class:"btn-red" %></button>
    <button><%=link_to "edit",edit_user_registration_path,class:"btn-red" %></button>
</div>